.home {
    padding: 80px 20px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    transition: background-image 1s ease-in-out; /* Smooth transition for background image change */
  }
  
  .home h2 {
    padding-top: 650px;
    font-size: 80px;
    color: orange;
    text-align: center;
   
 
  }
  .home p {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: orange;
    
   
  }
  .glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}